body{
  background-color: blanchedalmond;
}
h1{
  font-family: 'Courier New', Courier, monospace;
}

.text{
  text-align: center;
}

table{
 margin: auto;
}
td {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}